<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% include document/graph.html %}

<title>{% if page.url != "" %}{{page.title}} | {% endif %}{{site.name}}</title>

<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

<!-- Icons -->
<link rel="logo" type="image/svg" href="{{site.url}}/logo.svg" />
<link rel="shortcut icon" href="/assets/img/favicon-32x32.png">
<!-- ie will look for favicon.ico automatically -->

<!-- RSS Feed -->
<link href="/feed.rss" rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" />

<meta name="msapplication-TileColor" content="{{site.color}}">
<meta name="msapplication-TileImage" content="/assets/img/metro-tile.png">

{% include document/head.mobile.html %}

{% include document/grumpicon.html %}