

/* Set <html> and <body> to inherit the height of the viewport */
html,
body {
	min-height: 100%;
}

/**
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove iOS text size adjust without disabling user zoom
 */

html {
	overflow-y: scroll; /* 1 */
	font-size: 62.5%; /* 10px */
	font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
      -ms-text-size-adjust: 100%; /* 2 */
	        text-size-adjust: 100%; /* 2 */

}

/**
 * 1. Inherits percentage declared on above <html> as the root `font-size`
 * 2. Unitless `line-height`, which acts as a multiple of the root `font-size`
 */
body {
  margin: 0;
	@include font-size(16);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Change `background` for text selections when browser is unfocused */
::selection:window-inactive {
	background: #d0d0d0;
}

/* Remove `background` on images when selected */
img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

/* Define a mobile tap highlight color (iOS 1.1.1+) */
a:link {
	-webkit-tap-highlight-color: #b3d4fc;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 1. Remove border when inside `a` element in IE 8/9. 
 */
img {
  vertical-align: middle;
  width: 100%;
  border: 0; /* 1 */
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  @extend %zero;
}

/*
 * Allow only vertical resizing of textareas.
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  resize: vertical;
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */

}

/* Fluid-width <audio> elements */
audio {
	width: 100%;
}

/* Fluid-width media that maintain their aspect ratios */
img,
video {
	max-width: 100%;
	width: auto;
	height: auto !important;
}


// Basic typography
abbr,
acronym,
dfn[title] {
	cursor: help;
}

abbr a {
	text-decoration: none;
}

acronym {
	text-transform: uppercase;
}

details {
	cursor: pointer;
}

/* Nested `list-style` types for ordered lists */
ol          { list-style: decimal; }
ol ol       { list-style: upper-alpha; }
ol ol ol    { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }


p,
table,
textarea,
td,
th {
	@include css-hyphens(auto);
	word-wrap: break-word;
}

