/*----------------------------------------------------------------------------*\
  Layout
\*----------------------------------------------------------------------------*/

body {
  padding: 0 10px;
}

// layout-header
.header {
  @extend %box-sizing;
  margin: 0 -10px 0 -10px;
  
  .site-logo__sitename,
  .site-logo__tagline {
    @extend %zero;
    @extend %hide-screen;
    height: 100px;    
  }
}

// layout-footer
.footer {
  background-color: $neutralcolor;
  text-align: center;
  @include font-size(12);
  margin: 0 -10px 0 -10px;
  
}

.footer .footer-header {
  @extend %hide-screen;
}

.footer .copyright {
  @extend %zero;
}

.footer .footer__menu {
  text-decoration: none;
}