<div class="contact">
  <h2 class="contact-header">Contact</h2>

  <ul class="contact-list">
    <li class="vcard contact-list__item">
      <a class="url fn org" href="http://insidegolf.ca">Inside Golf Inc</a>
      <a href="mailto:production@insidegolf.ca" class="email">production@insidegolf.ca</a>
      
      <a class="twitter url" href="http://twitter.com/inside_golf">@inside_golf</a>
      <a class="facebook url" href="https://www.facebook.com/pages/Inside-Golf/91439843920">Facebook</a>
      
      <span class="tel">
        <span class="type">Toll Free</span>
        <span>Toll Free</span>
        <span class="value">+1-800 764-6537</span>  
      </span>
      
      <span class="tel">
        <span class="type">Local</span>
        <span class="value">+1 250 709-2131</span>  
      </span>
      
      <span class="tel">
        <span class="type">Fax</span>
        <span class="value">+1 (250) 709-2141</span>  
      </span>
      
      <span class="adr">
        <span class="type parcel">Office &amp; Courier Address</span>
        <span class="street-address">60 Ingram St. - Suite #2</span>
        <span class="locality">Duncan</span>
        <span class="region">BC</span>
        <span class="country-name">Canada</span>
        <span class="postal-code">V9L 1N7</span>  
      </span>
      
      <span class="adr">
        <span class="type postal">Postal Address</span>
        <span class="street-address">PO Box 248</span>
        <span class="locality">Duncan</span>
        <span class="region">BC</span>
        <span class="country-name">Canada</span>
        <span class="postal-code">V9L 3X3</span>
      </span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:publisher@insidegolf.ca">Jeff Sutherland</a>
      <span class="role">Publisher</span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:sales@igdesign.ca">Jim Paterson</a>
      <span class="role">Associate Publiser / Director of Sales</span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:dwestover@insidegolf.ca">Deb Westover</a>
      <span class="role">Marketing Manager</span>
    </li>

    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:design@insidegolf.ca">Gregory Daynes</a>
      <span class="role">Production Manager</span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:production@insidegolf.ca">Ambyr Whetung-Belleau</a>
      <span class="role">Accounting</span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:ed-coord@insidegolf.ca">Holly</a>
      <span class="role">Production Assistant</span>
    </li>
    
    <li class="vcard contact-list__item">
      <a class="email fn" href="mailto:editor@insidegolf.ca">Bryan Outram</a>
      <span class="role">Editor</span>
    </li>
  </ul>
</div>