<ul class="digital-magazines">
  <li>
    <a href="http://read.dmtmag.com/i/78601" target="_blank">
      <img src="/assets/img/covers/cgd_2012.jpg" alt="" />
    </a>
    <p>Canadian Golf Traveller - 2012</p>
  </li>

  <li>
    <a href="http://read.dmtmag.com/i/68546" target="_blank">
      <img src="/assets/img/covers/spring_2012.jpg" alt="" />
    </a>
    <p>Inside Golf - Spring 2012</p>
  </li>
  
  <li>
    <a href="http://read.dmtmag.com/i/80982" target="_blank">
      <img src="/assets/img/covers/fall_2012.jpg" alt="" />
    </a>
    <p>Inside Golf - Fall 2012</p>
  </li>
</ul>