<table class="table">
  <thead>
    <tr>
      <th>Shape</th>
      <th>Size (Width X Height measured in pixels</th>
      <th>Name</th>
      <th>Max File Size (KB)</th>
      <th>Max Animation Length (Seconds)</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>A</td>
      <td>728px X 90px</td>
      <td>Leaderboard</td>
      <td>40 KB</td>
      <td>15</td>
    </tr>
    <tr>
      <td>B</td>
      <td>300px X 250px</td>
      <td>Medium Rectangle</td>
      <td>40 KB</td>
      <td>15</td>
    </tr>
    <tr>
      <td>C</td>
      <td>468px X 60px</td>
      <td>Full Banner</td>
      <td>40 KB</td>
      <td>15</td>
    </tr>
    <tr>
      <td>D</td>
      <td>120px X 240px</td>
      <td>Skyscraper</td>
      <td>40 KB</td>
      <td>15</td>
    </tr>
    <tr>
      <td>E</td>
      <td>120px X 90px</td>
      <td>Button</td>
      <td>20 KB</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>