<ul class="specs">
  <li>
    <div>
      <img src="/assets/img/specs/page-reg-twelfth_eigth.png" />
     	<dl>
     		<dt>1/12 Square</dt>
     		<dd>2.25" x 2.25"</dd>
     		
     		<dt>1/8 Horizontal</dt>
     		<dd>3.5" x 2.25"</dd>
     	</dl>     	
    </div>
  </li>
  
  <li>  
    <div>
     	<img src="/assets/img/specs/page-reg-sixth.png" />
     	<dl>
     		<dt>1/6 Vertical</dt>
     		<dd>2.25" x 4.75"</dd>
     	
     		<dt>1/6 Horizontal</dt>
     		<dd>4.75" x 2.25"</dd>
     	</dl>
    </div>
  </li>
  
  <li>    
    <div>
     	<img src="/assets/img/specs/page-reg-quarter.png" />
     	<dl>
     		<dt>1/4 Vertical</dt>
     		<dd>3.5" x 4.75"</dd>
  
     		<dt>1/4 Horizontal</dt>
     		<dd>7.25" x 2.25"</dd>
     	</dl>
    </div>
  </li>
  
  <li>
    <div>
     	<img src="/assets/img/specs/page-reg-third.png"  />
     	
     	<dl>
     		<dt>1/3 Vertical</dt>
     		<dd>2.25" x 9.75"</dd>
     	  
     	  <dt>1/3 Square</dt>
     		<dd>4.75" x 4.75"</dd>
     	
     		<dt>2/3 Vertical</dt>
     		<dd>4.75" x 9.75"</dd>
     	</dl>
    </div>
  </li>
  
  <li>
    <div>
     	<img src="/assets/img/specs/page-reg-half_horizontal.png"  />
     	
     	<dl>
     		<dt>1/2 Horizontal</dt>
     		<dd>7.25" x 4.75"</dd>
     	</dl>
    </div>
  </li>
  
  <li>
    <div>
     	<img src="/assets/img/specs/page-reg-half_vertical.png"  />
     	
     	<dl>
     		<dt>1/2 Vertical</dt>
     		<dd>3.5" x 9.75"</dd>
     	</dl>
    </div>
  </li>
  
  <li>
    <div>
     	<img src="/assets/img/specs/page-reg-half_digest.png"  />
     	
     	<dl>
     		<dt>1/2 Digest</dt>
     		<dd>4.75" x 7.25"</dd>
     	</dl>
    </div>
  </li>
  
  <li>      
    <div>
     	<img src="/assets/img/specs/page-reg-full.png"  />
     	
     	<dl>
     		<dt>Full Page</dt>
     		<dd>&nbsp;</dd>
     		
				<dt>Bleed</dt>
				<dd>8.75" x 11.25"</dd>
				
				<dt>Trim</dt>
				<dd>8.25" x 10.75"</dd>
				
				<dt>Critical</dt>
				<dd>7.25" x 9.75"</dd>
			</dl>
    </div>
  </li>
</ul>